<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Window Function List</title>
    <style>
        .all {
            color: #222222;
            max-width: 50rem;
            margin: 0 auto;
        }

        .h1 {
            font-size: 1.5rem;
        }

        .note {
            color: #888888;
            font-size: 0.8rem;
        }

        #window-type {
            font-size: 1.0rem;
        }

        .parameter {
            margin: 1em;
            padding: 0.5em;
            padding-left: 1em;
            border-left: #AAAAAA solid 2px;
        }

        .parameter .name {
            font-weight: bold;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.3.1.min.js"></script>
    <script src="./bessel/bessel.js"></script>
    <script src="./fft/fftsg.js"></script>
    <script src="windowfunctions.js"></script>
    <script src="fft.js"></script>
    <script>
        let Plot = {
            numTraces: 0,
            id: "plot",
            init: function () {
                let layout = {
                    margin: { t: 1 },
                    grid: {
                        rows: 1,
                        columns: 2,
                        pattern: "independent",
                    },
                    xaxis: {
                        anchor: "x1",
                        showgrid: true,
                        zeroline: false,
                        showline: true,
                        mirror: "ticks",
                        linecolor: "#AAAAAA",
                        range: [-1.0, +1.0],
                    },
                    yaxis: {
                        anchor: "y1",
                        showgrid: true,
                        zeroline: false,
                        showline: true,
                        mirror: "ticks",
                        linecolor: "#AAAAAA",
                        range: [-0.2, 1.2],
                    },
                    xaxis2: {
                        anchor: "x2",
                        showgrid: true,
                        zeroline: false,
                        showline: true,
                        mirror: "ticks",
                        linecolor: "#AAAAAA",
                        range: [0.0, 0.05],
                    },
                    yaxis2: {
                        anchor: "y2",
                        showgrid: true,
                        zeroline: false,
                        showline: true,
                        mirror: "ticks",
                        linecolor: "#AAAAAA",
                        range: [-200, 10],
                    },
                };
                let config = {
                    responsive: true,
                    staticPlot: true,
                }
                Plotly.newPlot(this.id, [], layout, config);
            },
            update: function (list, length) {
                for (let i = 0; i < this.numTraces; i++) {
                    Plotly.deleteTraces(this.id, -1);
                }

                let select = document.getElementById("window-type");

                const windowId = select.value;
                const windowType = list[windowId];
                const x = createAxis(length);
                const y = windowType.f(length, windowType.defaultParams);
                const specdata = FFT.calculateDecibelSpectrum(y);
                let traceWaveform = {
                    type: "scatter",
                    mode: "lines",
                    name: windowType.name,
                    x: x,
                    y: y,
                    xaxis: "x1",
                    yaxis: "y1",
                    showlegend: false,
                };
                let traceSpectrum = {
                    type: "scatter",
                    mode: "lines",
                    name: windowType.name,
                    x: specdata.freq,
                    y: specdata.spec,
                    xaxis: "x2",
                    yaxis: "y2",
                    showlegend: false,
                };
                Plotly.addTraces(this.id, [traceWaveform, traceSpectrum]);

                this.numTraces = 2;
            },
        };

        window.onload = () => {
            new Vue({
                el: "#inspector",
                data: {
                    parameters: windowList,
                    currentWindowId: "",
                    length: 4096,
                },
                created: function () {
                    Plot.init();
                    FFT.init(this.length);
                },
                methods: {
                    update: function () {
                        Plot.update(this.parameters, this.length);
                    }
                }
            });
        };
    </script>
</head>

<body>
    <div class="all">
        <h1 class="h1">Window Function List</h1>
        <div id="plot" style="width: 100%; height: 300px;"></div>
        <p class="note">Left: Time-domain window function. The time axis is normalized to [-1, +1].</p>
        <p class="note">Right: Amplitude spectrum. The frequency axis is normalized from [0, fs/2] to [0, 0.5].</p>
        <div id="inspector">
            <!-- select box -->
            <select id="window-type" v-model="currentWindowId" v-on:change="update">
                <option v-for="(type, windowId) in parameters" v-bind:value="windowId">{{ type.name }}</option>
            </select>
            <!-- parameter settings -->
            <div v-for="(type, windowId) in parameters" v-if="windowId == currentWindowId">
                <div class="parameter" v-for="(setting, paramId) in type.defaultParams">
                    <label class="name">{{ setting.name }}</label>
                    <div>
                        <input type="number" v-on:change="update" v-model="setting.value" v-bind:min="setting.min"
                            v-bind:max="setting.max" v-bind:step="setting.step">
                        <input type="range" v-on:change="update" v-on:input="update" v-model="setting.value"
                            v-bind:min="setting.min" v-bind:max="setting.max" v-bind:step="setting.step">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>